
/* Fundo rosa */
.impact-section {
  background-color: #e91e63;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

/* Título */
.impact-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Texto explicativo */
.impact-section p {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1.4rem;
  line-height: 1.5;
}

/* Container dos cards */
.impact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center; 
  gap: 20px;                     
}


/* Card individual */
.card {
  background-color: rgba(249, 245, 245, 0.15);
  color: #333;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  transition: transform 0.2s ease; 
  padding: 30px;
  text-align: center;
}

/* Ícone */
.icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Título dentro do card */
.card h3 {
  color: aliceblue;
  font-size: 1.8rem;
  margin: 5px 0;
}

/* Texto pequeno dentro do card */
.card p {
  font-size: 20;
  color:#fcfafa;
}