* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/*  NAVBAR DESKTOP  */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #DD1B57; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

.navbar img {
  width: 90px;
}


.navbar .logo { 
  font-size: 24px;  
  font-weight: bold; 
  color: white;
 }


.navbar .menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar .menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar .menu li a:hover {
  color: #f9a8d4;
}

/* BOTÃO HAMBURGUER (Só mobile)  */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}

/*  MOBILE  */
@media (max-width: 768px) {

  .navbar .menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #f1316e;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  }

  /* Ativa o menu quando a classe "active" for aplicada */
  .navbar .menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
