.container {
  height: 1000px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.title {
  color: #dd1b57;
  margin-top: 120px;
  font-weight: 800;
  margin-bottom: 20px;
}

.description {
  color: black;
}

.testimonials {
  text-align: justify;
  font-size: 18px;

  color: black;
  font-style: italic;
  margin-bottom: 120px;
}

.name {
  color: #dd1b57;
  font-weight: bold;
  font-size: 20px;
}

.separator {
  margin: 20px 0 20px;
  background-color: #c9c9c9;
  height: 1.4px;
  width: 100%;
  border-radius: 12px;
}

.role {
  color: black;
  font-weight: regular;
  font-size: 15px;
}

.content {
  margin-top: 40px;
}

.starBox {
  margin-top: 10px;
  display: flex;
  gap: 1.88px;
  align-items: center;

  img {
    width: 17.12px;
    height: 16.35px;
  }
}

.card {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 28px 32px 20px 18px;
  border: 1px solid #c9c9c9;

  img {
    width: 25.5px;
    height: 25.5px;
  }
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 24px;
  justify-content: center;
}

